@import 'src/lib/components/styles/global';

:global(body) {
  margin: 0;
}

:global(html), :global(body), :global(#root) {
  height: 100%;
}

.app {
  height: 100%;
  overflow: hidden;

  .outer-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .scroll-wrapper {
      flex: 1;
      overflow-y: auto;
      height: 100%;

      .inner-wrapper {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
        height: 100%;
      }
    }
  }
}
