$dark-theme: true;
$dark-base: $dark-3;
$background: $dark-3;
$dark-background: $dark-2;
$base: $dark-2;
$shadow: $dark-4;
$primary: #f1c400;
$primary-dark: darken($primary, 5%);
$secondary: darken(#d20217, 10%);
$secondary-dark: darken($secondary, 5%);
$positive: $green;
$positive-dark: $green-dark;
$negative: $red;
$negative-dark: $red-dark;
$neutral: $gray;
$neutral-dark: $dark-1;
$disabled: $dark-3;
$text: $light-2;
$text-disabled: $dark-1;
$placeholder: $gray;
$text-white: $light-2;
$text-light: $dark-3;
$text-black: $dark-3;
$text-washed: $gray;
