.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: $margin-large $margin-x-large;
  border-radius: $border-radius-x-large;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  min-height: 2.5rem;
  background-color: $dark-background;
  color: $text-light;

  .logo {
    @include internal-margins-horizontal($margin);

    display: flex;
    align-items: center;

    .logo-wrapper {
      width: 4rem;
      color: $primary;
    }
  }

  :global(.mobile) & {
    border-radius: 0;
    padding: $margin-large;

    .logo-wrapper {
      padding-top: 0.4rem;
      width: 10rem;
    }
  }
}

.content {
  @include internal-margins-vertical($margin);
  padding: $margin;
  width: 100%;

  h2:not(:first-child) {
    margin-top: $margin;
  }

  p:not(:first-child) {
    margin-top: $margin;
  }
}
