.navdock-content {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .left-content {
    @include internal-margins-vertical($margin);

    > div {
      margin: 0 $margin;

      &:first-child {
        margin-top: $margin;
      }

      &:last-child {
        margin-bottom: $margin;
      }

      &.title {
        font-size: $h2;
      }
    }
  }

  .action {
    margin: $margin;
  }
}
